// --------Variables-&-Functions--------
@import './variables';
@import './functions';

// --------Templates---------
@import './templates/header';
@import './templates/footer';
@import './templates/sidebar';


// ------------Change-Password-------------

.password-input{
	label{
		color: rgba(0, 0, 0, 0.7);

	}

	.icon-group{
		input{
			width: 100%;
			border: 1px solid rgba(0, 0, 0, 0.3);
			border-radius: 5px 0px 0px 5px;
			border-right: none;
			outline: none;
			padding: 0 10px;
		}

		button[data-passwordtarget]{
			padding: 2px 8px;
			border: 1px solid rgba(0, 0, 0, 0.3);
			background-color: transparent;
			border-radius: 0px 5px 5px 0px;
			border-left: none;
			outline: none;
		}
	}

	a{
		font-size: 14px;
		text-decoration: none;
	}

	small{
		font-size: 12px;
	}
}


// ===============SMALL=SCREEN=================
@import './small-screen';