// --------------FOOTER---------------
#footer{
	background-color: $biruTua;

	// --1
	.footer-contents{
		padding-top: 40px;

		// --1
		.content{
			color: #fff;

			// --1
			.title{
				font-weight: 400;
				font-size: 20px;
				text-transform: uppercase;
			}

			// --2
			.items{
				list-style: none;
				margin: 0;

				// --1
				.item{
					color: inherit;
					font-weight: 100;
				}
			}
		}

		// --2
		.copyright{
			border-top: 1px	 solid rgba(0, 0, 0, .5);
			padding: 15px;
			text-align: center;

			p{
				color: #fff;
				margin: 0;
			}
		}
	}
}
