// --------------FOOTER---------------
#footer{
	background-color: $biruTua;

	// --1
	.footer-contents{
		padding-top: 40px;

		// --1
		.content{
			color: #fff;

			// --1
			.title{
				font-weight: 400;
				font-size: 20px;
				text-transform: uppercase;
			}

			// --2
			.items{
				list-style: none;
				margin: 0;

				// --1
				.item{
					color: inherit;
					font-weight: 100;
				}
			}
		}

		// --2
		.copyright{
			border-top: 1px	 solid rgba(0, 0, 0, .5);
			padding: 15px;
			text-align: center;

			p{
				color: #fff;
				margin: 0;
			}
		}
	}
}

// Components
.nomads-btn{
	text-decoration: none;
	display: inline-block;
	width: auto;
	padding: 8px 20px;
	font-size: 18px;
	color: #fff;
	background-color: $orange;
	transition: .3s ease;
	border-radius: 5px;
	border: none;

	&:hover{
		text-decoration: none;
		color: #fff;
		background-color: lighten($orange, 5);
	}
}

// Background-colors
.muted{
	color: rgba(0, 0, 0, 0.4);
	background-color: $abuCerah;
	pointer-events: none;
}

// Custom Background
.custom-bg::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 50vh;
	background-color: $abu;
	z-index: -1;
}

// Breadcrumbs
.nomads-breadcrumb{
	font-size: 18px;
	color: #fff;

	a{
		position: relative;
		display: inline-block;
		color: inherit;
		text-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
		margin: 0 5px;
	}
}

// Profile Card
.profile-card{
	background-color: #fff;
	padding: 20px;
	border-radius: 15px;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);

	&.right{
		color: $biruGelap;

		.title{
			border-bottom: 1px solid rgba(0, 0, 0, 0.1);

			h1{
				font-size: 24px;
				font-weight: 700;
				color: inherit;
				margin-bottom: 5px;
			}
			p{
				color: inherit;
				font-size: 15px;
			}
		}
	}
}